<div class="eqLogic eqLogic-widget col2 allowResize allowReorderCmd #custom_layout# #eqLogic_class#" data-eqType="#eqType#" data-eqLogic_id="#id#" data-eqLogic_uid="#uid#" data-version="#version#" data-translate-category="#translate_category#" data-category="#category#" data-tags="#tags#" style="width: #width#; height: 110px; #style#">
        <!-- span class="statusCmd" style="position : absolute;bottom : 3px;left : 5px; width : 30px;z-index: 500;"></span> -->
        <center class="widget-name">
			<span class="cmd refresh pull-right cursor" data-cmd_id="#refresh_id#"><i class="fas fa-sync"></i></span>			
			<!--<span class="reportModeVisible">#name_display# <span class="object_name">#object_name#</span></span>-->
			<a href="#eqLink#" class="reportModeHidden">#name_display# <span class="object_name">#object_name#</span></a>
		</center>
		<!-- actions on widget-->
		<span class="cmd cmd-widget" data-cmd_id="#refresh_id#" style="display:none;"></span>
		<span class="cmd cmd-widget" data-cmd_id="#home_id#" style="display:none;"></span>
		<span class="cmd cmd-widget" data-cmd_id="#away_id#" style="display:none;"></span>
		<span class="cmd cmd-widget" data-cmd_id="#night_id#" style="display:none;"></span>
		<span class="cmd cmd-widget" data-cmd_id="#custom_id#" style="display:none;"></span>
		<!-- start display -->
		<link rel="stylesheet" nonce="" href="plugins/gigaelem/core/template/#version#/eqLogic.css">     
		<div class="ge-widget">
			<div class="ge-status-tile">
				<span class="status ge-status-icon cursor tooltips" title="#status_message#"></span>
			</div>
			<div class="ge-mode-tile">
				<span class="ge-custom-area ge-mode-icon ge-custom-off cursor tooltips" title="Personnalisé"></span>
				<span class="ge-night-area  ge-mode-icon ge-night-off  cursor tooltips" title="Nuit"></span>
				<span class="ge-away-area   ge-mode-icon ge-away-off   cursor tooltips" title="Absence"></span>
				<span class="ge-home-area   ge-mode-icon ge-home-off   cursor tooltips" title="Présence"></span>
			</div>
			<div class="ge-modelabel-tile">
				<span class="ge-modelabel-left">Mode: </span>
				<span class="ge-modelabel-right tooltips" title="Mode courant">#mode_label#</span>
			</div>
        </div>
		<!-- animate -->
		<script>
		$('.eqLogic[data-eqLogic_uid=#uid#] .refresh').on('click', function () {
			jeedom.cmd.execute({id: '#refresh_id#'});
		});
		$('.eqLogic[data-eqLogic_uid=#uid#] .ge-home-area').on('click', function () {
			$('.eqLogic[data-eqLogic_uid=#uid#] .ge-home-area').html('<img class="ge-mode-rotate" src="/plugins/gigaelem/core/template/img/gear_small.png">') ;
			$('.eqLogic[data-eqLogic_uid=#uid#] .ge-home-area').toggleClass('ge-home-off ge-no-mode') ;
			jeedom.cmd.execute({id: '#home_id#'});
		});
		$('.eqLogic[data-eqLogic_uid=#uid#] .ge-away-area').on('click', function () {
			$('.eqLogic[data-eqLogic_uid=#uid#] .ge-away-area').html('<img class="ge-mode-rotate" src="/plugins/gigaelem/core/template/img/gear_small.png">') ;
			$('.eqLogic[data-eqLogic_uid=#uid#] .ge-away-area').toggleClass('ge-away-off ge-no-mode') ;
			jeedom.cmd.execute({id: '#away_id#'});
		});
		$('.eqLogic[data-eqLogic_uid=#uid#] .ge-night-area').on('click', function () {
			$('.eqLogic[data-eqLogic_uid=#uid#] .ge-night-area').html('<img class="ge-mode-rotate" src="/plugins/gigaelem/core/template/img/gear_small.png">') ;
			$('.eqLogic[data-eqLogic_uid=#uid#] .ge-night-area').toggleClass('ge-night-off ge-no-mode') ;
			jeedom.cmd.execute({id: '#night_id#'});
		});
		$('.eqLogic[data-eqLogic_uid=#uid#] .ge-custom-area').on('click', function () {
			$('.eqLogic[data-eqLogic_uid=#uid#] .ge-custom-area').html('<img class="ge-mode-rotate" src="/plugins/gigaelem/core/template/img/gear_small.png">') ;
			$('.eqLogic[data-eqLogic_uid=#uid#] .ge-custom-area').toggleClass('ge-custom-off ge-no-mode') ;
			jeedom.cmd.execute({id: '#custom_id#'});
		});
			
		<!-- model -->
		$('.eqLogic[data-eqLogic_uid=#uid#] .status').on('click', function () {
		$('#md_modal').dialog({title: "{{Gigaset Elements}}"});
		$('#md_modal').load('index.php?v=d&plugin=gigaelem&modal=info.gigaelem').dialog('open');
		});


		<!-- update status -->
		if ('#status#' == 'green') {
			$('.eqLogic[data-eqLogic_uid=#uid#] .status').addClass('ge-status-green') ;
		} else if ('#status#' == 'orange') {
			$('.eqLogic[data-eqLogic_uid=#uid#] .status').addClass('ge-status-orange') ;
		} else if ('#status#' == 'red') {
			$('.eqLogic[data-eqLogic_uid=#uid#] .status').addClass('ge-status-red') ;
		} else if ('#status#' == 'red_smoke') {
			$('.eqLogic[data-eqLogic_uid=#uid#] .status').addClass('ge-status-red-smoke') ;
		} else {
			$('.eqLogic[data-eqLogic_uid=#uid#] .status').addClass('ge-status-disconnected') ;
		}


		if ('#mode#' == 'home') {
			$('.eqLogic[data-eqLogic_uid=#uid#] .ge-home-area').toggleClass('ge-home-off ge-home-on') ;
		} else if ('#mode#' == 'away') {
			$('.eqLogic[data-eqLogic_uid=#uid#] .ge-away-area').toggleClass('ge-away-off ge-away-on') ;
		} else if ('#mode#' == 'night') {
			$('.eqLogic[data-eqLogic_uid=#uid#] .ge-night-area').toggleClass('ge-night-off ge-night-on') ;
		} else if ('#mode#' == 'custom') {
			$('.eqLogic[data-eqLogic_uid=#uid#] .ge-custom-area').toggleClass('ge-custom-off ge-custom-on') ;
		}
		</script>
</div>
